@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@100;400;800&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins ,'Noto Sans', sans-serif;
    font-size: 0.88rem;
    background: #F2F2F2;
    user-select: none;
    overflow-x: hidden;
}

.container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: #363949;
}

h3,h4{
    font-size: 0.8rem;
}

.profile-photo{
    width: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: #7d8da1;
}

p{
    color: #677483;
}

b{
    color:#363949 ;
}

.primary{
    color: #7380ec;
}

.success{
    color: #41f1b6;
}

aside{
    height: 100vh;
}

aside .top{
    
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo img{
    margin-left: 1rem;
    width: 135px;
    height: 40px;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    background: #fff;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

aside h3{
    font-weight: 550;
}

aside .sidebar a{
    display: flex;
    color: #7d8da1;

    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: #ccc9f0;
    color: #363949;
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background:#363949 ;
}

aside .sidebar a.active span{
    color: #363949;
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover{
    color: #363949;
}

aside .sidebar a:hover span{
    margin-left: 0.7rem;
}

aside .sidebar .cronograma-count{
    background: rgb(230, 95, 95);
    color: #F2F2F2;
    padding: 2px 9px;
    border-radius: 60%;
}

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: #dce1eb;
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    cursor: pointer;
    background: transparent;
    color: #363949;
}

.rigth{
    margin-top: 1.4rem;
}

.rigth .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.rigth .tema{
    background: rgba(132,139,200,0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.rigth .tema span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rigth .tema span.active{
    background: rgb(230, 95, 95);
    color: #fff;
    border-radius: 0.4rem;
}

.rigth .top .perfil{
    display: flex;
    gap: 2rem;
    text-align: right;
    margin-right: 2rem;

}

img[src="perfil.png"]{
    border-radius: 50%;
}

.rigth .top .perfil p{
    font-style: italic;
}

main .tela-add .corpo-formulario{
    
    background: #fff;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

main .tela-add {
    margin-top: 1rem;
    width: 800px;
 
}

main .tela-add .add-meio .dados-paciente table{
    background:#fff;
    width: 100%;
    border-radius: 15px;
    padding: 0.5rem;
    text-align: left;
}

main .tela-add .add-meio{
    margin-top: 1rem;
    margin-left: 1rem;
}

main .tela-add .add-meio .nome-medico h3{
    font-size: 14px;
}


main .tela-add .add-meio .titulos{
    margin-top: 0.5rem;
}

main .tela-add .add-meio .titulos a{
    font-weight: 400;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .inputs{
    display: flex;
    gap: 3rem;
}

main .tela-add .add-meio .dados-medico{
    display: flex;
    gap: 3rem;
}

main .tela-add .add-meio .dados-medico .campo-crm,.campo-nome{
    display: flex;
    flex-direction: column;
}

main .tela-add .add-meio .dados-medico .campo-crm .input-crm{
    display: flex;
}

main .tela-add .add-meio .dados-medico .campo-nome .input-nome{
    display: flex;
}

main .tela-add .add-meio .dados-medico .campo-crm .input-crm input{
    display: flex;
    width: 90%;
    border: none;
    border-radius: 4px;
    padding: 1px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
}

main .tela-add .add-meio .dados-medico .campo-nome .input-nome input{
    display: flex;
    width: 90%;
    border: none;
    border-radius: 4px;
    padding: 1px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
}

main .tela-add .add-meio .dados-medico .campo-crm .input-nome{
    display: flex;
    
}

main .tela-add .add-meio .inputs .input-nome input{
    width: 90%;
    border: none;
    border-radius: 4px;
    padding: 1px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
}

main .tela-add .add-meio .inputs span{
    font-size: 23px;
    color: #418bec;
}

main .tela-add .add-meio .dados-paciente .titulos-paciente{
    margin-top: 0.5rem;
}

main .tela-add .add-meio .dados-paciente .titulos-paciente a{
    font-weight: 400;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .dados-paciente input{
    width: 196PX;
    border: none;
    border-radius: 4px;
    padding: 4.5px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
    margin-right: 37PX;
}

main .tela-add .add-meio .dados-paciente .titulo-paciente{
    margin-top: 1rem;
}

main .tela-add .add-meio .dados-paciente .titulo-paciente h3{
    font-size: 14px;
}

main .tela-add .add-meio .procedimento{
    margin-top: 1rem;
}

main .tela-add .add-meio .procedimento h3{
    font-size: 14px;
}

main .tela-add .add-meio .procedimento input{
    width: 196PX;
    border: none;
    border-radius: 4px;
    padding: 4.5px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
    margin-right: 37PX;
}

main .tela-add .add-meio .dados-convenio{
    margin-top: 0.4rem;
    display: flex;
}

main .tela-add .add-meio .dados-convenio .convenio{
    display: flex;
    flex-direction: column;
}

main .tela-add .add-meio .dados-convenio .plano{
    display: flex;
    flex-direction: column;
}

main .tela-add .add-meio .dados-convenio .convenio a{
    font-weight: 400;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .titulo-convenio{
    margin-top: 1rem;
}

main .tela-add .add-meio .titulo-convenio h3{
    font-weight: 600;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .dados-convenio input{
    width: 196PX;
    border: none;
    border-radius: 4px;
    padding: 4.5px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
    margin-right: 37PX;
}

main .tela-add .add-meio .dados-convenio a{
    font-weight: 400;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .data-proc{
    margin-top: 1rem;
}

main .tela-add .add-meio .data-proc h4{
    font-size: 14px;
}

main .tela-add .add-meio .data-proc input{
    width: 196PX;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
    margin-right: 37PX;
    cursor: pointer;
}

main .tela-add .add-meio .hora-proc {
    margin-top: 1rem;
}

main .tela-add .add-meio .hora-proc h4{
    font-size: 14px;
}

main .tela-add .add-meio .hora-proc .horas{
    display: flex;
    gap: 3rem;
}

main .tela-add .add-meio .hora-proc .horas .hr-inicio{
    display: flex;
    flex-direction: column;
}

main .tela-add .add-meio .hora-proc .horas .hr-fim{
    display: flex;
    flex-direction: column;
}

main .tela-add .add-meio .hora-proc .horas a{
    margin-top: 3px;
    font-weight: 400;
    color: black;
    font-size: 14px;
}


main .tela-add .add-meio .hora-proc .horas input{
    width: 80PX;
    border: none;
    border-radius: 4px;
    padding: 3.6px;
    background: #DCDCDC;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
    margin-right: 37PX;
    cursor: pointer;
}

main .tela-add .add-meio .arquivos{
    margin-top: 1rem;
}

main .tela-add .add-meio .arquivos h4{
    font-size: 14px;
    width: 800px;
}

main .tela-add .add-meio .arquivos h3{
    margin-top: 3px;
    font-weight: 400;
    color: black;
    font-size: 14px;
}

main .tela-add .add-meio .arquivos .input-aquivos input{
    margin-right: 13px;
    margin-top: 2px;
    padding: 5rem;
    width: 770px;
    background: #DCDCDC;
    border-radius: 7px;
}

main .tela-add .add-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .tela-add .add-footer button{
    margin-bottom: 1rem;
    width: 100px;
    padding: 13px 0px;
    background: #418bec;
    color: #FFFFFF;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #9fc1ee;
}

main .tela-add .add-footer button:hover{
    margin-bottom: 1rem;
    width: 100px;
    padding: 13px 0px;
    background: #82b2f0;
    color: #FFFFFF;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #9fc1ee;
}


.rigth .observa{
    background: #fff;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 10px 40px -12px #00000056;
    transition: all 300ms ease;
}

.rigth .observa .titulo-observa{
    display: flex;
    margin-left: 1rem;
}

.rigth .observa:hover{
    box-shadow: none;
}

.rigth .observa textarea{
    background: #DCDCDC;
    margin-left: 11px;
    display: flex;
    border-color:#cf5151;
    width: 280px;
    height: 300px;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;
    border-radius: 5px;
}